div{
    position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    text-align: center;
}
button{
    width: 15vh;
    height: 7vh;
    border-radius: 8px;
    font-style: oblique;
    font-weight: bolder;
    border: solid 2px;
    box-shadow: 1px 1px 10px;
    background-color: white;
}
body {
  transition: background-color 0.5s ease;
}
p{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}