@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#inputArea.show {
    display: block;
    animation: slideFade 0.4s ease forwards;
    opacity: 1;
    transform: scale(1);
}

#inputArea.hide {
    opacity: 0;
    transform: scale(0.9);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5vh;
    width: 100%;
    max-width: 600px;
}

#title{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 9vh;
}

#Add{
    margin-top: -6vh;
    border-radius: 32px;
    background-color: #217DE6;
    width: 15vh;
    height: 4.5vh;
    color: white;
    border: transparent;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 2vh;
}

#inputArea{
    margin-top: -5vh;
    display: none;
    border: solid 2px black;
    background-color: #F0F0F0;
    border-radius: 30px;
    width: 50vh;
    height: 16vh;
    padding-left: 2vh;
    padding-top: 2vh;
    resize: none;
    font-family: "Inter", sans-serif;
    font-size: 2vh;
    outline: none;
}

#inputArea::placeholder{
    position: absolute;
        top: 2vh; 
        left: 2vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 2vh;
}

#Confirm{
    display: none;
    border-radius: 32px;
    background-color: #217DE6;
    width: 15vh;
    height: 4.5vh;
    color: white;
    border: transparent;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 2vh;
}

#lista{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3vh;

    list-style-type: none;
    padding-left: 0;
}

.checkbox{
    border: solid 2px black;
}